VITE_LIVE2D_MODEL_URL=/assets-local/characters/2d/hosinonya/hosinonya.model3.json
VITE_LIVE2D_CORE_URL=/assets-local/vendor/live2d/live2dcubismcore.min.js
VITE_REI_GLB_URL=/assets-local/characters/3d/unitychan/unitychan.glb
VITE_REI_GLB_ANIMATION_MODE=off
VITE_REI_GLB_ANIMATION_IDLE=WAIT00
VITE_REI_GLB_ANIMATION_WAVE=HANDUP00_R
VITE_REI_GLB_ANIMATION_THINK=WAIT00
VITE_REI_GLB_ANIMATION_POINT=HANDUP00_R
VITE_REI_GLB_ANIMATION_PRESENT=WAIT00
